/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-raised-button:not(:disabled) {
    color: var(--mdc-protected-button-label-text-color, inherit);
    margin-bottom: 4%;
}

.mat-mdc-raised-button:not(:disabled) {
    color: var(--mdc-protected-button-label-text-color, inherit);
    margin-top: 4%;
    margin-left: 3%;
}

.mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    text-align: left;
    margin-top: 2%;
    width:79%;
}